* {
    list-style: none;

    @font-face {
        font-family: CircularStd-Medium;
        src: url('../../../../font/CircularStd-Medium.woff');
    }
}

header {
    position: sticky;
    top: 0px;
    left: 0px;
    box-shadow: 5px 0px 2px 0px #ccc;
    z-index: 1000;
}

.text-decor {
    text-decoration: none !important;
}

.w-80 {
    width: 80%;
}

.cursor-pointer {
    cursor: pointer;
}

.w-60 {
    width: 60%;
}

.model {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
    z-index: 500;
    left: 0px;
    top: 0px;
}

.fs-7 {
    font-size: 14px;
}

.header_inner ul {
    margin: 0px;
    padding: 0px 10px;
}

.header_items li:hover {
    background-color: #f0f0ee;
    text-decoration: underline;
}

.header_items li {
    line-height: 32px;
}

.header_items li .mega_menu_stockroom {
    display: flex;
    position: absolute;
    background-color: #f0f0ee;
    padding: 20px;
    left: -2px;
    width: 100%;
    font-size: 14px;
    gap: 80px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 1000;
    /* visibility: visible;
    opacity: 1; */
}

.header_items .stockroom:hover .mega_menu_stockroom {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
}

.mega_menu_stockroom ul li:hover {
    text-decoration: underline;
}

.header_items li .mega_menu_women {
    display: flex;
    position: absolute;
    background-color: #f0f0ee;
    padding: 20px;
    left: -2px;
    width: 100%;
    font-size: 14px;
    gap: 30px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 1000;
    /* visibility: visible;
    opacity: 1; */
}
.offcanvas .offcanvas-start .offcanvas-show{
    visibility: hidden !important;
}

.header_items .women:hover .mega_menu_women {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
}

.mega_menu_women ul li:hover {
    text-decoration: underline;
}

.header_items li .mega_menu_men {
    display: flex;
    position: absolute;
    background-color: #f0f0ee;
    padding: 20px;
    left: -2px;
    width: 100%;
    font-size: 14px;
    gap: 30px;
    visibility: hidden;
    z-index: 1000;
    opacity: 0;
    transition: 0.5s;
    /* visibility: visible;
    opacity: 1; */
}

.header_items .men:hover .mega_menu_men {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
}

.mega_menu_men ul li:hover {
    text-decoration: underline;
}

.header_items .inner_text {
    position: absolute;
    bottom: 58px;
    left: 50px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.header_items li .mega_menu_story {
    display: flex;
    position: absolute;
    background-color: #f0f0ee;
    padding: 20px;
    left: -2px;
    width: 100%;
    font-size: 14px;
    gap: 30px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 1000;
    /* visibility: visible;
    opacity: 1; */
}

.header_items .our_story:hover .mega_menu_story {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
}

.mega_menu_story ul li:hover {
    text-decoration: underline;
}

@media only screen and (min-width:200px) and (max-width:1023px) {
    .header {
        display: none;
    }
}

@media only screen and (min-width:1024px) and (max-width:1600px) {
    .ress {
        display: none;
    }
}

.fs-8 {
    font-size: 12px;
}

.btn-header {
    outline: none;
    padding: 0px;
    background-color: white;
    border: none;
    margin: 0px;
}

.width {
    width: 100%;
    background-color: #f0f0ee;
    font-size: 16px;
    /* padding: 10px; */
    overflow-x: scroll;
    overflow-y: hidden;
}

.width ul::-webkit-scrollbar {
    width: 5px;
}

.width ul::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.width ul::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 5px;
}
.width ul{
    width: 100%;
    display: flex;
    margin: 0px;
    padding: 0px;
}

.width ul li {
    /* margin: 0px 5px; */
    padding: 10px 15px;
    width: 25%;
    height: 38px;
}

.w-20{
    width: 300px;
    right: 110px;
    text-align: left;
    /* visibility: hidden; */
    /* opacity: 0; */
    /* transition: 1s; */
    /* padding: 5px; */
}

